@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=poppins@100,200,300,400,500,600,700,800,900&display=swap');
@import "tailwindcss";

@theme {
  /* main background blue */
  --color-brand-blue: #1a42e6;
  /* lime green */
  --color-brand-green: #b9ff36;

  /* Typography */
  --font-satoshi: "Satoshi", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* Color Palette */
  --color-dark-900: #040819;
  --color-dark-800: #080A13;
  --color-dark-700: #242528;

  --color-gray-900: #444750;
  --color-gray-800: #4B4C53;
  --color-gray-700: #4F4F4F;
  --color-gray-600: #666A72;
  --color-gray-500: #777B83;
  --color-gray-400: #777777; /* using full hex instead of #777 */
  --color-gray-300: #82868E;
  --color-gray-200: #B0B0B0;
  --color-gray-100: #C9CDD2;

  --color-light-100: #F5F5F6;
  --color-light-200: #F1F1F1;
  --color-light-300: #F0F0F0;
  --color-light-400: #EAEAEA;
  --color-light-500: #F7F7F7;

  --color-border-base: #D9D9D9;
  --color-border-light: #E5E6E8;

  --color-accent-blue: #1648FF;
  --color-accent-blue-dark: #003BE2;

  --color-accent-lime-100: #C8FF00;
  --color-accent-lime-200: #C6FF00;
  --color-accent-lime-300: #D4FB20;
  --color-accent-lime-400: #c4eb16;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--color-brand-blue); */
  /* color: white; */
}

/* We can add a custom grid background class */
.bg-grid-pattern {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 2px);
  background-size: 120px 120px;
}